<header class="header">
    <h1 class="header-title">Раскраска</h1>
    {{#ifCond page '!==' ''}}  <a class="button-close" href="#/images" title="Закрыть страницу"></a>{{/ifCond}}
    {{#ifCond page '===' 'images'}}<a class="button-close" href="#/" title="Закрыть страницу"></a>{{/ifCond}}
</header>


